<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>qna</string>
			<key>name</key>
			<string>问与答</string>
		</dict>
		<dict>
			<key>title</key>
			<string>share</string>
			<key>name</key>
			<string>分享发现</string>
		</dict>
		<dict>
			<key>title</key>
			<string>create</string>
			<key>name</key>
			<string>分享创造</string>
		</dict>
		<dict>
			<key>title</key>
			<string>autistic</string>
			<key>name</key>
			<string>自言自语</string>
		</dict>
		<dict>
			<key>title</key>
			<string>in</string>
			<key>name</key>
			<string>分享邀请码</string>
		</dict>
		<dict>
			<key>title</key>
			<string>random</string>
			<key>name</key>
			<string>随想</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ideas</string>
			<key>name</key>
			<string>奇思妙想</string>
		</dict>
		<dict>
			<key>title</key>
			<string>design</string>
			<key>name</key>
			<string>设计</string>
		</dict>
		<dict>
			<key>title</key>
			<string>blog</string>
			<key>name</key>
			<string>Blog</string>
		</dict>
		<dict>
			<key>title</key>
			<string>paper</string>
			<key>name</key>
			<string>Paper</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>v2ex</string>
			<key>name</key>
			<string>V2EX</string>
		</dict>
		<dict>
			<key>title</key>
			<string>babel</string>
			<key>name</key>
			<string>Project Babel</string>
		</dict>
		<dict>
			<key>title</key>
			<string>gae</string>
			<key>name</key>
			<string>Google App Engine</string>
		</dict>
		<dict>
			<key>title</key>
			<string>dns</string>
			<key>name</key>
			<string>DNS</string>
		</dict>
		<dict>
			<key>title</key>
			<string>feedback</string>
			<key>name</key>
			<string>反馈</string>
		</dict>
		<dict>
			<key>title</key>
			<string>picky</string>
			<key>name</key>
			<string>Project Picky</string>
		</dict>
		<dict>
			<key>title</key>
			<string>guide</string>
			<key>name</key>
			<string>使用指南</string>
		</dict>
		<dict>
			<key>title</key>
			<string>olivida</string>
			<key>name</key>
			<string>OLIVIDA</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>idev</string>
			<key>name</key>
			<string>iDev</string>
		</dict>
		<dict>
			<key>title</key>
			<string>imarketing</string>
			<key>name</key>
			<string>iMarketing</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iad</string>
			<key>name</key>
			<string>iAd</string>
		</dict>
		<dict>
			<key>title</key>
			<string>icode</string>
			<key>name</key>
			<string>iCode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>itransfer</string>
			<key>name</key>
			<string>iTransfer</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>programmer</string>
			<key>name</key>
			<string>程序员</string>
		</dict>
		<dict>
			<key>title</key>
			<string>python</string>
			<key>name</key>
			<string>Python </string>
		</dict>
		<dict>
			<key>title</key>
			<string>android</string>
			<key>name</key>
			<string>Android</string>
		</dict>
		<dict>
			<key>title</key>
			<string>linux</string>
			<key>name</key>
			<string>Linux</string>
		</dict>
		<dict>
			<key>title</key>
			<string>cloud</string>
			<key>name</key>
			<string>云计算</string>
		</dict>
		<dict>
			<key>title</key>
			<string>bitcoin</string>
			<key>name</key>
			<string>Bitcoin</string>
		</dict>
		<dict>
			<key>title</key>
			<string>php</string>
			<key>name</key>
			<string>PHP</string>
		</dict>
		<dict>
			<key>title</key>
			<string>server</string>
			<key>name</key>
			<string>服务器</string>
		</dict>
		<dict>
			<key>title</key>
			<string>hardware</string>
			<key>name</key>
			<string>硬件</string>
		</dict>
		<dict>
			<key>title</key>
			<string>linode</string>
			<key>name</key>
			<string>Linnode</string>
		</dict>
		<dict>
			<key>title</key>
			<string>designer</string>
			<key>name</key>
			<string>设计师</string>
		</dict>
		<dict>
			<key>title</key>
			<string>outsourcing</string>
			<key>name</key>
			<string>外包</string>
		</dict>
		<dict>
			<key>title</key>
			<string>kindle</string>
			<key>name</key>
			<string>Kindle</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mysql</string>
			<key>name</key>
			<string>MySQL</string>
		</dict>
		<dict>
			<key>title</key>
			<string>bb</string>
			<key>name</key>
			<string>宽带症候群</string>
		</dict>
		<dict>
			<key>title</key>
			<string>tornado</string>
			<key>name</key>
			<string>Tornado</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ror</string>
			<key>name</key>
			<string>Ruby on Rails</string>
		</dict>
		<dict>
			<key>title</key>
			<string>typography</string>
			<key>name</key>
			<string>字体排印</string>
		</dict>
		<dict>
			<key>title</key>
			<string>java</string>
			<key>name</key>
			<string>Java</string>
		</dict>
		<dict>
			<key>title</key>
			<string>markdown</string>
			<key>name</key>
			<string>Markdown</string>
		</dict>
		<dict>
			<key>title</key>
			<string>programming</string>
			<key>name</key>
			<string>编程</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mongodb</string>
			<key>name</key>
			<string>MongoDB</string>
		</dict>
		<dict>
			<key>title</key>
			<string>redis</string>
			<key>name</key>
			<string>Redis</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ruby</string>
			<key>name</key>
			<string>Ruby</string>
		</dict>
		<dict>
			<key>title</key>
			<string>car</string>
			<key>name</key>
			<string>汽车</string>
		</dict>
		<dict>
			<key>title</key>
			<string>business</string>
			<key>name</key>
			<string>商业模式</string>
		</dict>
		<dict>
			<key>title</key>
			<string>photoshop</string>
			<key>name</key>
			<string>Photoshop</string>
		</dict>
		<dict>
			<key>title</key>
			<string>lego</string>
			<key>name</key>
			<string>LEGO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>math</string>
			<key>name</key>
			<string>数学</string>
		</dict>
		<dict>
			<key>title</key>
			<string>sony</string>
			<key>name</key>
			<string>SONY</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>games</string>
			<key>name</key>
			<string>游戏</string>
		</dict>
		<dict>
			<key>title</key>
			<string>igame</string>
			<key>name</key>
			<string>iGame</string>
		</dict>
		<dict>
			<key>title</key>
			<string>bf3</string>
			<key>name</key>
			<string>Battlefield 3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>lol</string>
			<key>name</key>
			<string>英雄联盟</string>
		</dict>
		<dict>
			<key>title</key>
			<string>sc2</string>
			<key>name</key>
			<string>StarCraft 2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>steam</string>
			<key>name</key>
			<string>Steam</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ps3</string>
			<key>name</key>
			<string>PlayStation 3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>wow</string>
			<key>name</key>
			<string>World of Warcraft</string>
		</dict>
		<dict>
			<key>title</key>
			<string>eve</string>
			<key>name</key>
			<string>EVE</string>
		</dict>
		<dict>
			<key>title</key>
			<string>xbox360</string>
			<key>name</key>
			<string>Xbox 360</string>
		</dict>
		<dict>
			<key>title</key>
			<string>bf4</string>
			<key>name</key>
			<string>Battlefield 4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>gt</string>
			<key>name</key>
			<string>Gran Turismo</string>
		</dict>
		<dict>
			<key>title</key>
			<string>wii</string>
			<key>name</key>
			<string>Wii</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>macosx</string>
			<key>name</key>
			<string>Mac OS X</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iphone</string>
			<key>name</key>
			<string>iPhone</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mbp</string>
			<key>name</key>
			<string>MacBook Pro</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ipad</string>
			<key>name</key>
			<string>iPad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mba</string>
			<key>name</key>
			<string>MacBook Air</string>
		</dict>
		<dict>
			<key>title</key>
			<string>accessory</string>
			<key>name</key>
			<string>配件</string>
		</dict>
		<dict>
			<key>title</key>
			<string>imac</string>
			<key>name</key>
			<string>iMac</string>
		</dict>
		<dict>
			<key>title</key>
			<string>macmini</string>
			<key>name</key>
			<string>Mac mini</string>
		</dict>
		<dict>
			<key>title</key>
			<string>macbook</string>
			<key>name</key>
			<string>MacBook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ipod</string>
			<key>name</key>
			<string>iPod</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mobileme</string>
			<key>name</key>
			<string>MobileMe</string>
		</dict>
		<dict>
			<key>title</key>
			<string>macpro</string>
			<key>name</key>
			<string>Mac Pro</string>
		</dict>
		<dict>
			<key>title</key>
			<string>iwork</string>
			<key>name</key>
			<string>iWork</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ilife</string>
			<key>name</key>
			<string>iLife</string>
		</dict>
		<dict>
			<key>title</key>
			<string>garageband</string>
			<key>name</key>
			<string>GarageBand</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>all4all</string>
			<key>name</key>
			<string>二手交易</string>
		</dict>
		<dict>
			<key>title</key>
			<string>jobs</string>
			<key>name</key>
			<string>酷工作</string>
		</dict>
		<dict>
			<key>title</key>
			<string>afterdark</string>
			<key>name</key>
			<string>天黑以后</string>
		</dict>
		<dict>
			<key>title</key>
			<string>music</string>
			<key>name</key>
			<string>音乐</string>
		</dict>
		<dict>
			<key>title</key>
			<string>movie</string>
			<key>name</key>
			<string>电影</string>
		</dict>
		<dict>
			<key>title</key>
			<string>exchange</string>
			<key>name</key>
			<string>物物交换</string>
		</dict>
		<dict>
			<key>title</key>
			<string>reading</string>
			<key>name</key>
			<string>阅读</string>
		</dict>
		<dict>
			<key>title</key>
			<string>photograph</string>
			<key>name</key>
			<string>摄影</string>
		</dict>
		<dict>
			<key>title</key>
			<string>tv</string>
			<key>name</key>
			<string>剧集</string>
		</dict>
		<dict>
			<key>title</key>
			<string>taste</string>
			<key>name</key>
			<string>美酒与美食</string>
		</dict>
		<dict>
			<key>title</key>
			<string>creditcard</string>
			<key>name</key>
			<string>信用卡</string>
		</dict>
		<dict>
			<key>title</key>
			<string>invest</string>
			<key>name</key>
			<string>投资</string>
		</dict>
		<dict>
			<key>title</key>
			<string>travel</string>
			<key>name</key>
			<string>旅行</string>
		</dict>
		<dict>
			<key>title</key>
			<string>lohas</string>
			<key>name</key>
			<string>乐活</string>
		</dict>
		<dict>
			<key>title</key>
			<string>baby</string>
			<key>name</key>
			<string>Baby</string>
		</dict>
		<dict>
			<key>title</key>
			<string>soccer</string>
			<key>name</key>
			<string>绿茵场</string>
		</dict>
		<dict>
			<key>title</key>
			<string>pet</string>
			<key>name</key>
			<string>宠物</string>
		</dict>
		<dict>
			<key>title</key>
			<string>bike</string>
			<key>name</key>
			<string>骑行</string>
		</dict>
		<dict>
			<key>title</key>
			<string>tuan</string>
			<key>name</key>
			<string>团购分享</string>
		</dict>
		<dict>
			<key>title</key>
			<string>coffee</string>
			<key>name</key>
			<string>咖啡</string>
		</dict>
		<dict>
			<key>title</key>
			<string>plant</string>
			<key>name</key>
			<string>植物</string>
		</dict>
		<dict>
			<key>title</key>
			<string>diary</string>
			<key>name</key>
			<string>日记</string>
		</dict>
		<dict>
			<key>title</key>
			<string>love</string>
			<key>name</key>
			<string>非诚勿扰</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mushroom</string>
			<key>name</key>
			<string>蘑菇</string>
		</dict>
		<dict>
			<key>title</key>
			<string>mileage</string>
			<key>name</key>
			<string>行程控</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>google</string>
			<key>name</key>
			<string>Google</string>
		</dict>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>name</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>name</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>title</key>
			<string>wikipedia</string>
			<key>name</key>
			<string>Wikipedia</string>
		</dict>
		<dict>
			<key>title</key>
			<string>path</string>
			<key>name</key>
			<string>Path</string>
		</dict>
		<dict>
			<key>title</key>
			<string>reddit</string>
			<key>name</key>
			<string>reddit</string>
		</dict>
		<dict>
			<key>title</key>
			<string>4sq</string>
			<key>name</key>
			<string>foursqure</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>beijing</string>
			<key>name</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>title</key>
			<string>shanghai</string>
			<key>name</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>title</key>
			<string>shenzhen</string>
			<key>name</key>
			<string>深圳</string>
		</dict>
		<dict>
			<key>title</key>
			<string>hangzhou</string>
			<key>name</key>
			<string>杭州</string>
		</dict>
		<dict>
			<key>title</key>
			<string>guangzhou</string>
			<key>name</key>
			<string>广州</string>
		</dict>
		<dict>
			<key>title</key>
			<string>chengdu</string>
			<key>name</key>
			<string>成都</string>
		</dict>
		<dict>
			<key>title</key>
			<string>kunming</string>
			<key>name</key>
			<string>昆明</string>
		</dict>
		<dict>
			<key>title</key>
			<string>wuhan</string>
			<key>name</key>
			<string>武汉</string>
		</dict>
		<dict>
			<key>title</key>
			<string>nyc</string>
			<key>name</key>
			<string>New York</string>
		</dict>
		<dict>
			<key>title</key>
			<string>tianjin</string>
			<key>name</key>
			<string>天津</string>
		</dict>
		<dict>
			<key>title</key>
			<string>la</string>
			<key>name</key>
			<string>Los Angeles</string>
		</dict>
		<dict>
			<key>title</key>
			<string>sanfrancisco</string>
			<key>name</key>
			<string>San Francisco</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>uniqlo</string>
			<key>name</key>
			<string>UNIQLO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>lamy</string>
			<key>name</key>
			<string>Lamy</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ikea</string>
			<key>name</key>
			<string>宜家</string>
		</dict>
		<dict>
			<key>title</key>
			<string>muji</string>
			<key>name</key>
			<string>无印良品</string>
		</dict>
		<dict>
			<key>title</key>
			<string>gap</string>
			<key>name</key>
			<string>Gap</string>
		</dict>
		<dict>
			<key>title</key>
			<string>moleskine</string>
			<key>name</key>
			<string>Moleskine</string>
		</dict>
		<dict>
			<key>title</key>
			<string>gstar</string>
			<key>name</key>
			<string>G-Star</string>
		</dict>
		<dict>
			<key>title</key>
			<string>nike</string>
			<key>name</key>
			<string>Nike</string>
		</dict>
		<dict>
			<key>title</key>
			<string>adidas</string>
			<key>name</key>
			<string>Adidas</string>
		</dict>
	</array>
</array>
</plist>
